@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  /* PRIMARY */
  --clr-primary-blue: hsl(233, 26%, 24%);
  --clr-primary-green: hsl(136, 65%, 51%);
  --clr-primary-cyan: hsl(192, 70%, 51%);

  /* NEUTRAL */
  --clr-neutral-blue: hsl(233, 8%, 62%);
  --clr-neutral-light-blue: hsl(220, 16%, 96%);
  --clr-neutral-very-light-blue: hsl(0, 0%, 98%);
  --clr-neutral-white: hsl(0, 0%, 100%);
}

@layer base {
  @font-face {
    font-family: Public Sans;
    font-weight: 300;
    src: url(/fonts/PublicSans-Light.ttf/);
  }
  @font-face {
    font-family: Public Sans;
    font-weight: 400;
    src: url(/fonts/PublicSans-Regular.ttf/);
  }
  @font-face {
    font-family: Public Sans;
    font-weight: 700;
    src: url(/fonts/PublicSans-Bold.ttf/);
  }

  body {
    @apply font-publicSans;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-[var(--clr-primary-green)] to-[var(--clr-primary-cyan)];
  }

  .bg-scale {
    @apply scale-[2] translate-x-52 -translate-y-20;
  }

  .phone-scale {
    @apply scale-125 translate-x-36 translate-y-5;
  }

  @media screen and (min-width: 768px) {
    .bg-change {
      content: url(/images/bg-intro-desktop.svg);
    }
  }
}
