---
import Article from './Article.astro';

// Grab article data
const articles = await Astro.glob('../articles/*.md');
---

<section class='my-20'>
  <div class='w-[90%] max-w-7xl mx-auto'>
    <h1 class='text-4xl mb-10 text-center'>Latest Articles</h1>
    <ul>
      {
        articles.map((article) => (
          <Article
            author={article.frontmatter.author}
            title={article.frontmatter.title}
            image={article.frontmatter.image}
          >
            {article.rawContent}
          </Article>
        ))
      }
    </ul>
  </div>
</section>
